# environment
.env

# python
__pycache__/
*.pyc
.venv/
.uv/
.uv-cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
.ruff_cache/

# database
*.db

# queries
queries/*
!queries/.gitkeep

# schema
schema/*
!schema/.gitkeep
